$font: 'ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;';

* {
    font-family: "Poppins", sans-serif;
}

.container_main {
     display: flex;
    margin-top:  2%;
    justify-content: space-between;
    align-items: flex-start;
}



.container_products {
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(4, 200px);

}






.product-card {
    width: 200px;
    height: 120px;
    padding: 5px;
    border-radius: 5%;
    box-shadow: 2px 4px 6px rgba(2, 2, 2, 0.3);
    text-decoration: none;
    color: black;
    display: block;
    
}


.temp {
    width:250px;
    margin-right: 5%;
}



.container_filter {
      width: 250px;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    text-wrap: nowrap;
}

.filter-item {
    display: flex;
    flex-direction: row;
    align-items: center;  
    margin-bottom: 5px;
     font-family: $font;
     font-size: 14px;

}
.navbar {
    display: flex;  
    gap: 20px;
    align-items: center;
    outline: 1px solid black;
    justify-content: space-between;
    
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 20px;
}

.navbar-right {
 padding-right: 30px;
 display: flex;
 gap: 30px;
 align-items: center;
}

.navbar a {
 text-decoration: none;
 color: rgb(36, 58, 36);
}


.logout_button {
    float: right;
    font-size: 16px;
    width: 8rem;
}

.search_button {
    font-size: 16px;
}

.search_input {
    font-size: 16px;
    border: 3px solid rgb(160, 156, 156);
    border-radius: 2%;
    padding: 5px;
}
.cart {
    display: none;
    position: absolute;
    height: auto;
    width: auto;
    background-color:white;
    outline: 1px solid black;
    padding: 5px;
}






.cart_button {
    width: 8rem;
  border: none;
  cursor: pointer;
  font-size: 16px;

}
.cart_main {
padding-bottom: 10px;
}

.favorites {
    display: none;
    position: absolute;
    height: auto;
    width: auto;
    background-color:white;
    outline: 1px solid black;
}




.favorites_button {
    width: 8rem;
  border: none;
  cursor: pointer;
  font-size: 16px;

}


.favorites_main {
    padding-bottom: 10px;
}
.account {
    display: none;
    position: absolute;
    right: 0;

    height: auto;
    width: auto;
    background-color:white;
    outline: 1px solid black;
    padding: 5px;
    gap: 10px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}

#btnRegister, #btnLogin, #btnAccount {
    font-size: 16px;
}


.range-group {
    display: flex;
    flex-direction: column;
}

#sort {
    width: 100px;
    margin-left: 10px;
}

#extraFilterBtn {
    background-color: rgb(213, 210, 210);
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 5%;
      transition: 0.3s;
}

#extraFilterBtn:hover {
    background-color: rgb(156, 154, 154);
    transition: 0.3s;
}

button {
    background-color: rgb(213, 210, 210);
  border: none;
  cursor: pointer;
  border-radius: 5%;
      transition: 0.3s;   
}

button:hover {
        background-color: rgb(156, 154, 154);
    transition: 0.3s;
}

@media only screen and (max-width: 1168px) {
  .product-card {
    font-size: 12px;
    width: 150px;
    height: 80px;
  }
.container_products {
        grid-template-columns: repeat(3, 160px);

}
.form {
    display: flex;
}


}


@media only screen and (max-width: 780px) {

.container_products {
        grid-template-columns: repeat(2, 160px);

}

.search_input {
    font-size:12px;
    height: 70%;
}


#navbar_button {
    font-size: 12px;
}




}



@media only screen and (max-width: 540px) {

.container_products {
        grid-template-columns: repeat(1, 160px);

}


}